__pycache__/
*.__pycache__
*.pyc
*.pyo
*.pyd
.venv/
*.env
venv/
Mi Proyecto web/__pycache__/
# Archivos de Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/
*.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de base de datos locales (si quieres ignorarlos)
# database/*.db

# Carpetas de logs, caché, etc.
*.log

# Archivos específicos de tu editor (opcional)
.vscode/
.idea/
database/usuarios.db
datos/datos.csv/datos.json/datos.txt
__pycache__
procfiles/