{% extends "base.html" %}
{% block title %}Acerca de{% endblock %}

{% block content %}
<h1>Acerca de</h1>


<h2>Quienes somos </h2>
<p>UrbanWalk es un almacén de calzado original, especializado en ofrecer productos deportivos y 
  casuales de alta calidad para toda la familia.</p>
<h2>Nuestra Misión</h2>
<p>Brindar calzado original y de excelente calidad, asegurando una experiencia de compra única y 
  satisfactoria para nuestros clientes.</p>
<h2>Nuestra Visión</h2>
<p>Ser reconocidos como el almacén líder en calzado original, 
  innovando constantemente y ofreciendo productos que reflejen estilo, confort y autenticidad..</p>
<h2>Contacto</h2>
<p>Para más información, contáctanos a través de nuestro correo electrónico: contacto@urbanwalk.com</p>
<h2>Ubicación</h2>
<p>Nos encontramos en la Calle Quito, Ciudad Lago Agrio.</p>
<h2>Redes Sociales</h2>
<p>Síguenos en nuestras redes sociales para conocer nuestras últimas colecciones, promociones y novedades:</p>
<ul>
  <li><a href="https://www.facebook.com/empresa" target="_blank">Facebook</a></li>
  <li><a href="https://www.twitter.com/empresa" target="_blank">Twitter</a></li>
  <li><a href="https://www.instagram.com/empresa" target="_blank">Instagram</a></li>
{% endblock %} 